.carousel .control-dots .dot {
    width: 0.7rem !important;
    height: 0.7rem !important;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    background-color: #2ECC71 !important
}

.image-gallery-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    height: 100vh !important;
}

.image-gallery-image {
    width: 80% !important;
    height: 70vh !important;
}

.image-gallery-thumbnail {
    width: 6rem !important;
}

.image-gallery-thumbnail-image {
    height: 5rem !important;
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:active,
.image-gallery-thumbnail.active {
    border: 4px solid #2ECC71 !important;
}