:root {
    --primaryColor: "#2ECC71";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.aboutContainer {
    padding: 1rem;
}

.aboutHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutHeader h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0;
    font-size: 2.5rem;
    border-bottom: 5px solid black;
}

.aboutHeader p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.2rem;
    font-size: 1.5rem;
}

.aboutRowContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
}

.aboutRowChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    flex: 0 0 25%;
}

.aboutRowChild div {
    background-color: #2ECC71;
    width: 8rem;
    padding: 1rem;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.aboutRowChild h2 {
    padding: 0.5rem;
    opacity: 0.7;
    width: 100%;
    font-size: 1.5rem;
}

.aboutRowChild p {
    font-size: 1rem;
    max-width: 80%;
    opacity: 0.7;
    padding-bottom: 0.5rem;
}

.aboutRowContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0.5rem;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%;
}

.aboutImage {
    display: flex;
    position: relative;
    height: 13rem;
    width: 16rem;
    margin-bottom: 1rem;
    background-color: #424242;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.aboutInfo p {
    max-width: 70%;
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    opacity: 0.7;
    padding: 1rem 0.25rem;
}

.aboutProgressBar {
    width: 50%;
    padding: 2rem 5px;
}

.aboutPercentage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.aboutPercentage div:nth-child(1) {
    background-color: black;
    color: white;
    padding: 10px;
    width: 7rem;
}

.aboutHtml div:nth-child(2) {
    width: 75%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutCss div:nth-child(2) {
    width: 75%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutJs div:nth-child(2) {
    width: 65%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutReact div:nth-child(2) {
    width: 65%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}


.aboutGatsby div:nth-child(2) {
    width: 60%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutNode div:nth-child(2) {
    width: 50%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutAws div:nth-child(2) {
    width: 50%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}

.aboutSanity div:nth-child(2) {
    width: 60%;
    height: 2rem;
    background-color: rgb(15, 228, 103);
}


@media (max-width:1024px) {

    .aboutHeader h1 {
        font-size: 1.5rem;
        border-bottom: 3px solid black;
    }

    .aboutHeader p {
        letter-spacing: 0.2rem;
        font-size: 1.1rem;
    }

    .aboutRowChild {
        flex: 0 0 45%;
        padding: 0.5rem;
    }

    .aboutRowContainer2 {
        flex-direction: column;
    }

    .aboutInfo {
        width: 100%;
    }

    .aboutInfo p {
        max-width: 80%;
    }

    .aboutProgressBar {
        width: 100%;
        padding: 3rem 5px 1rem 3rem;
    }

}

@media (max-width:768px) {

    .aboutRowChild div {
        width: 6.5rem;
    }

    .aboutRowChild h2 {
        font-size: 1rem;
    }

    .aboutRowChild p {
        font-size: 0.8rem;
        max-width: 100%;
    }

    .aboutInfo p {
        max-width: 100%;
    }

    .aboutPercentage div:nth-child(1) {
        padding: 0.7rem;
        width: 5rem;
        font-size: 0.8rem;
    }
}


@media (max-width:520px) {

    .aboutProgressBar {
        padding-left: 0.5rem;
    }

    .aboutPercentage div:nth-child(1) {
        padding: 0.7rem;
        width: 4rem;
        font-size: 0.7rem;
    }

    .aboutJs div:nth-child(2) {
        width: 60%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }

    .aboutReact div:nth-child(2) {
        width: 60%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }


    .aboutGatsby div:nth-child(2) {
        width: 55%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }

    .aboutNode div:nth-child(2) {
        width: 45%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }

    .aboutAws div:nth-child(2) {
        width: 45%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }

    .aboutSanity div:nth-child(2) {
        width: 55%;
        height: 2rem;
        background-color: rgb(15, 228, 103);
    }
}